
.banner{
margin-bottom: 63px;


}
.banner__container{
background: linear-gradient(360deg, #E0C340 0%, #DFC23E 3.93%, #E1C441 7.23%, #E3C743 10.23%, #E4C542 13.14%, #E6C744 16.22%, #E7C845 19.84%, #E5C643 24.38%, #E6C945 31.00%, #E3C743 37.19%, #E9CA48 43.33%, #EDCE49 50.36%, #F0D44C 56.57%, #F4D84F 62.71%, #F6DA52 67.12%, #F7DB53 73.77%, #F9DD55 79.08%, #F9DF56 85.64%, #FAE157 93.50%, #F9DF56 100%);

}
.banner__wrapper{
    display: flex;
	justify-content:space-between;
	column-gap: 24px;
}

.banner__text {	

 display: flex;   
flex-direction:column;
justify-content: center;
align-items: flex-start;	

}

.banner__title {
    font-size: 111.608px;
    font-weight: 900;
   line-height: 137.185px; 
}
.banner__subtitle{  
font-size: 36.04px;
font-weight: 500;
line-height: 52.316px;
letter-spacing: -0.721px;
}
.banner__desc {	
font-size: 36.04px;
font-weight: 700;
line-height: 52.316px;
letter-spacing: 0.721px;
}
.banner__desc_sub{
	font-size: 36.04px;
    line-height: 52.316px;
    letter-spacing: 0.721px;
	padding-bottom: 51px;
}
.promo__btn {
	padding: 18px 40px;
	background: #000000;
	border-radius: 10px;
	font-weight: 500;
	font-size: 30px;
	line-height: 1.5;
	letter-spacing: -0.05em;
	color: #fff;
}

.highlight {
	position: relative;
	display: inline-block;
}

.highlight span {
	position: relative;
	z-index: 1;
}

.highlight::before {
	content: '';
	display: block;
	position: absolute;
	top: -12px;
	bottom: 0px;
	left: -14px;
	right: -19px;
	background-color: #fff;
	transform: rotate(-2deg);
}

